$mainFontSize: 16px;
$mainBlue: #3387ea;
$mainYellow: #f9be3e;
$mainRed: #d3573e;
$mainLightBlue: #59b0e2;
$mainEmerald:  #33af95;
$mainGreen: #86a73f;
$mainBlack: #151a26;
$mainViolet: #7e5b8c;

@mixin center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $mainFontSize;
}

body {
  min-height: 100%;
  height: 100%;
  background: url("../../../assets/images/pattern.jpg");
  background-size: cover;
}

.content-wrapper {
  position: absolute;
  @include center;
  width: 100%;
  max-width: 820px;
  color: #fff;
}

@media screen and (max-width: 768px) {
.content-wrapper {
  position: static;
  top: initial;
  left: initial;
  transform: translate(0, 0);
}
}
.user-title {
  margin: 1.5rem 0;
  padding: 0.5rem 0;
  font-weight: bold;
  font-size: 2rem;
}

.item {
  height: 150px;
  padding: 0.5rem;
  &__content {
    height: 100%;
    position: relative;
  }
  &:nth-child(1) &__content{
    background-color: $mainBlue;
  }
  &:nth-child(2) &__content{
    background-color: $mainYellow;
  }
  &:nth-child(3) &__content{
    background-color: $mainRed;
  }
  &:nth-child(4) &__content{
    background-color: $mainLightBlue;
  }
  &:nth-child(5) &__content{
    background-color: $mainEmerald;
  }
  &:nth-child(6) &__content{
    background-color: $mainGreen;
  }
  &:nth-child(7) &__content{
    background-color: $mainBlack;
  }
  &:nth-child(8) &__content{
    background-color: $mainViolet;
  }
}

.item__img-wrapper {
  position: absolute;
  @include center;
}

.item__title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.5rem;
}

.blog {
  display: flex;
  &__img {
    flex: 0 0 30%;
    height: 100%;
    background: url("../../../assets/images/blog-image.png") no-repeat center;
    background-size: cover;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 70%;
    padding: 0.5rem;
  }
  &__title {
    font-size: 1.2rem;
  }
}



















